link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/sgonzagao.css')
link(href='/css/menu.css', rel='stylesheet')
link(href='/fonts/lobster.css', rel='stylesheet')
link(href='/fonts/montserrat.css', rel='stylesheet')
link(href='/css/footer.css', rel='stylesheet')
