li(class= bands === undefined ? "" : "active")
	a(href='/bands') #{ __("menu.bands") }
li(class= genres === undefined ? "" : "active")
	a(href='/genres') #{ __("menu.genres") }
li(class= records === undefined ? "" : "active")
	a(href='/records') #{ __("menu.records") }
